:root{
    --color:green;
    --primary-font-size:1.5em;
    --secondary-font-size:.7;

}
h1,h2,h3,h4{
    font-size: var(--primary-font-size);
    color: var(--color);
}
.container{
    --local-color:red;
    color: var(--color);
}